<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Pesquisa</title>
    <link rel="stylesheet" href="terceira-tela.component.css">
</head>

<body>
    <div class="search-container">
        <input type="text" placeholder="Pesquisar" class="search-bar">
        <div class="search-icon"><button type="submit">&#128269;</button></div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="logo">
                    <img src="img/logotipo-do-cerebro-do-coracao_663422-435.avif" alt="Logo Cérebro e Coração">
                </div>
            </div>
            <div class="row">
                <div class="logo">
                    <img src="img/unimed-512.png" alt="Logo Unimed">
                </div>
                <div class="logo">
                    <img src="img/odontoplus-1x1-2400x2400-20210608-ck76d3cf49976j73xp9m.webp" alt="Logo Dentista">
                </div>
            </div>
            <div class="row">
                <div class="logo">
                    <img src="img/clincardio.png" alt="Logo ClinCardio">
                </div>
                <div class="logo">
                    <img src="img/logo_rodape.png" alt="Logo Hospital São Vicente de Paulo" width="300px">
                </div>
            </div>
        </div>
    </div>
</body>

</html>